<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimeTech - Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
<div class="box">
    <span class="borderline"></span>
    <form action="/admin/login" method="post">
        <h2> Sign in - TimeTech</h2>
        <div class="inputBox">
            <input type="text" name ="user" required="required">
            <span>Username</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" name="pass" required="require">
            <span>password</span>
            <i></i>
        </div>
       
     <input type="submit" value="Login">
    </form>
</div>  

</body>
</html>