<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>Nombre y apellido: </h1>
      <h2>Horacio Salvati </h2>
      <h1>Cédula:</h1>
      <h2>30961362</h2>
      <h1>Sección "2"</h1>
  </body>
</html>
