
<!DOCTYPE html>
<html>
<%- include('header') -%>
<body>
    <div id='h1'>
       <h1 class='titulo'>Timetech</h1> 
    </div>
    
    
    <div id='contenedorP'>


    
    <section>
       
       <div id='ContenedorImgNombre'>
       
       
       </div>
       <p>La comodidad y calidad sobre tu muñeca en tiempo real
       </p>
    </section>

    </div>
<div class="lose">
<a href='/login' id='botonProductos' style="color: rgb(24, 58, 227);">Admin</a>
  <a href='/loginUsers' id='botonProductos' style="color: rgb(24, 58, 227);">Cliente</a>
</div>
  
   <%- include('footer') -%>
  
</body>

</html>