<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TimeTech</title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="icon" type="image/x-icon" href="img/Dental.jpg" />
</head>
<body>
  <div class="contenedor">
    <header class="header">
      <div class="logo">
        <p>TimeTech</p>
      </div>
      <div class="diente">
        <img src="img/menu.png" alt="">
      </div>
      <nav class="menu">
        <ul class="navegacion">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Producto</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a target="_blank" href="/login" class="form_contact">Login</a></li>
        </ul>
      </nav>
    </header>
  </div>
  <aside class="presentacion">
    <div class="informacion">
      <h1></h1>
      <div>
        <p>Informacion sobre TimeTech</p>
        <hr>
<p>La comodidad y calidad sobre tu muñeca en tiempo real</p>
      </div>
      <div class="informacion--boton">
       
      </div>
    </div>
    <div class="presentacion--imagen">
      <img src="img/FD.jpg" alt="imagen presentacion">
    </div>
  </aside>
  <main class="michi">
    <h2 class="michi--titulo">Productos Disponibles</h2>
    <div class="tools">
      <article class="Moi">
        <img src="img/CP.jpg" alt="">
        <h1>Apple Watch series 9</h1>
        <p>Innovador, con el chip diseñado a la medida, mas poderoso intuitvo y veloz.</p>
        <div class="Moi--info">
          <p>4$</p>
          <button type="button">Agregar</button>
        </div>
      </article>
      <article class="Moi">
        <img src="img/CD.jpg" alt="">
        <h1>Fitbit Versa</h1>
        <p>Esencial para mejorar tu salud y forma física</p>
        <div class="Moi--info">
          <p>3$</p>
          <button type="button">Agregar</button>
        </div>
      </article>
      <article class="Moi">
        <img src="img/EB.jpg" alt="">
        <h1>Fossil Gen 5</h1>
        <p>Elegante y adaptado, altavoz incorporado, modos de batería de varios días.</p>
        <div class="Moi--info">
          <p>2$</p>
          <button type="button">Agregar</button>
        </div>
      </article>
      <article class="Moi">
        <img src="img/HD.jpg" alt="">
        <h1>Amazfit GTS</h1>
        <p>Monitor de actividad física y reloj inteligente.</p>
        <div class="Moi--info">
          <p>1$</p>
          <button type="button">Agregar</button>
        </div>
      </article>
    </div>
  </main>
</body>
</html>




